<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/quiz.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/css/style.css">
    <title>Test</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<div class="container">
    <br/>
    <div class="col-sm-2"></div>

    <div class="col-sm-8">

        <h2 th:text="#{label.newquiz.pagetitle}" class="form-signin-heading text-center">New Part</h2>
        <br/>

        <form name='f' action='/createPart' method='POST' th:object="${createPartDto}" class="form-signin">
            <div class="form-group">
                <label>Unit Test Number</label>
                <input th:placeholder="'Unit Test Number'" name="unitTestNumber" class="form-control" required="true" autofocus="true" />
                <br/>
                <label>Unit Test Year</label>
                <input th:placeholder="2023" name="unitTestYear" class="form-control" required="true"/>
                <br/>
                <label>Unit Test Description</label>
                <textarea th:placeholder="'part description'" name="unitTestDescription" class="form-control" rows="6" > </textarea>
                <br/>
                <label>Part Number</label>
                <input th:placeholder="'Part Number'" name="partNumber" class="form-control" required="true"/>
                <br/>
                <label>Part Description</label>
                <textarea th:placeholder="'Part Description'" name="partDescription" class="form-control" rows="6" > </textarea>
                <br/>
                <label>Part Type</label>
                <input th:placeholder="'LISTENING/READING'" name="partType" class="form-control" required="true"/>
                <br/>
                <label>Number of questions</label>
                <input th:placeholder="'number of questions'" name="numberOfQuestions" class="form-control" required="true"/>
                <br/>
                <label>Times</label>
                <input th:placeholder="'Times'" name="times" class="form-control"/>
                <br/>
                <button th:text="#{label.newquiz.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
            </div>
        </form>

    </div>

    <div class="col-sm-2"></div>
</div>
<br/>
<br/>
<br/>
<br/>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>