<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">

        <h2 th:text="#{label.newquiz.pagetitle}" class="form-signin-heading text-center">New Quiz</h2>
        <br/>

        <form name='f' action='/createPart' method='POST' th:object="${createPartDto}" class="form-signin">
            <div class="form-group">
                <label>Unit Test Number</label>
                <input th:placeholder="'Unit Test Number'" name="unitTestNumber" class="form-control" required="true" autofocus="true" />
                <br/>
                <label>Unit Test Year</label>
                <input th:placeholder="2023" name="unitTestYear" class="form-control" required="true"/>
                <br/>
                <label>Unit Test Description</label>
                <textarea th:placeholder="'part description'" name="unitTestDescription" class="form-control" rows="6" > </textarea>
                <br/>
                <label>Part Number</label>
                <input th:placeholder="'Part Number'" name="partNumber" class="form-control" required="true"/>
                <br/>
                <label>Part Description</label>
                <textarea th:placeholder="'Part Description'" name="partDescription" class="form-control" rows="6" > </textarea>
                <br/>
                <label>Part Type</label>
                <input th:placeholder="'LISTENNING/READING'" name="partType" class="form-control" required="true"/>
                <br/>
                <label>Number of questions</label>
                <input th:placeholder="'number of questions'" name="numberOfQuestions" class="form-control" required="true"/>
                <br/>
                <label>Times</label>
                <input th:placeholder="'Times'" name="times" class="form-control"/>
                <br/>
                <button th:text="#{label.newquiz.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
            </div>
        </form>

    </div>

    <div class="col-sm-2"></div>
</div>


</body>
</html>