<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/quiz.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="/css/style.css">
  <title>Test</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<div class="container">
  <br/>
  <div class="col-sm-2"></div>

  <div class="col-sm-8">

    <h2 class="form-signin-heading text-center">Update Unit Test</h2>
    <br/>

    <form name='f' action='#' th:action="@{/updateUnitTest/{id}(id=${unitTest.id})}" method='POST' th:object="${unitTest}" class="form-signin">
      <div class="form-group">
        <label>Year</label>
        <input th:value="${unitTest.year}" name="year" class="form-control"/>
        <br/>
        <label>Unit Test Number</label>
        <input th:value="${unitTest.unitTestNumber}" name="unitTestNumber" class="form-control" required="true"/>
        <br/>
        <label>Unit Test Description</label>
        <textarea th:value="${unitTest.description}" name="description" class="form-control" type = "text" rows="6" >[[${unitTest.description}]] </textarea>
        <br/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </div>
    </form>

  </div>

  <div class="col-sm-2"></div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>