<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/quiz.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <title>User Profile</title>
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
    <br/>
    <h2 class="text-center">Your personal profile</h2>
    <br/>
    <div class="container">
    <br/>

    <div class="col-sm-12">
    <p class="text-center">Hust toeic online</p>
    <div class="text-center" sec:authorize="hasRole('USER')">Have a good day!</div>
    <div class="text-center" sec:authorize="hasRole('ADMIN')">You are admin.</div>

<h3 >Username: [[${user.username}]]</h3>
<!--<div sec:authentication="name"></div>-->
<h3>User's email: [[${user.email}]]</h3>
<!--<div th:text="$"></div>-->
<h3>User level: [[${user.userLevel}]]</h3>
<!--<div th:text=""></div>-->
<!--<h3>Authenticated user roles:</h3>-->
<!--<div sec:authentication="principal.authorities"></div>-->
<br/>
<br/>
<div sec:authorize="isAuthenticated()" class="text-center">
    <a th:href="@{/user/showFormForUpdateUser/{id}(id=${user.id})}" class="btn btn-primary">Update</a></div>
<br/>
<div sec:authorize="isAuthenticated()" class="text-center">
        <a class="btn btn-danger" href="/user/logout">Log out</a>
    </div>
    </div>
    </div>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>